<div class="mainCont">
    <div class="heading">
        <p>Items List</p>
    </div>
    <div class="body">
        <div class="firstR">
            <div class="listItem" id="leftCss"><app-item (buyEvent)="placeOrder($event)"></app-item></div>
            <div class="listItem"><app-item (buyEvent)="placeOrder($event)"></app-item></div>
            <div class="listItem"><app-item (buyEvent)="placeOrder($event)"></app-item></div>
        </div>
        <div class="secondR">
            <div class="listItem" id="leftCss"><app-item (buyEvent)="placeOrder($event)"></app-item></div>
            <div class="listItem"><app-item (buyEvent)="placeOrder($event)"></app-item></div>
            <div class="listItem"><app-item (buyEvent)="placeOrder($event)"></app-item></div>
        </div>
    </div>
    
    
</div>

